.categories {
    padding-bottom: 96px;
    padding-top: 96px;
    background-color: var(--bg-alt-color);

    .header {

        margin-bottom: 40px;

        h1 {
            font-size: 34.992px;
            font-weight: 600;
            line-height: 45.4833px;
            margin-bottom: 4px;
            margin-top: 0px;
            text-align: center !important;
            color: var(--main-color-dark);
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            margin-bottom: 0px;
            margin-top: 0px;
            pointer-events: auto;
            text-align: center !important;
            text-transform: capitalize;
        }

        a {
            color: var(--main-color-dark);

            svg {
                display: inline;
                margin: 0 4px;
            }
        }
    }

    .btnContent {
        text-align: center !important;

        .btn {
            transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
            margin-top: 16px;
            background-color: transparent;
            border: 1px solid #e7643e;
            border-radius: 4px;
            color: #e7643e;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            line-height: 26.2333px;
            min-width: 246px;
            padding-bottom: 16px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 16px;
            text-align: center !important;

            &:hover {
                box-shadow: 0 1rem 2.5rem rgba(140, 152, 164, .1), 0 .5rem 1rem -.75rem rgba(140, 152, 164, .1) !important;
                -webkit-transform: translate3d(0, -3px, 0);
                transform: translate3d(0, -3px, 0);
                color: #161c2d;
                background-color: #e7643e;
                border-color: #e7643e;
            }
        }
    }
}