@import "../../../styles/mixins.scss";
.partners {
    padding-bottom: 80px;
    padding-top: 24px;
    @include sm {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .container {
        @include md {
            max-width: 720px;
        }

        @include sm {
            max-width: 540px;
        }
        .img {
            margin: auto;
            width: 100px;
            margin-bottom: 16px
        }
    }
}