.banner {
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: var(--bg-alt-color);
    border-bottom: 1px solid var(--border-color) !important;


    .card {
        transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
        position: relative;
        width: 100%;
        border: 1px solid var(--border-color);
        display: flex;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 4px;

        .cardBody {
            padding: 64px 80px;
            position: relative;
            min-height: 1px;
            display: block;
            -webkit-box-flex: 0;
            flex-grow: 0;

            h3 {
                font-size: 24px;
                font-weight: 500;
                line-height: 33.6px;
                margin-bottom: 14.4px;
                margin-top: 0px;
                overflow-wrap: break-word;
                text-align: start;
                color: var(--main-color-dark);
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                margin-bottom: 24px;
                margin-top: 0px;
                overflow-wrap: break-word;
                text-align: start;
                text-transform: capitalize;
            }

            a {
                background-color: rgb(45, 79, 147);
                border-radius: 800px;
                box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset, rgba(22, 28, 45, 0.075) 0px 1px 1px 0px;
                box-sizing: border-box;
                color: rgb(255, 255, 255);
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                line-height: 26.2333px;
                min-width: 246px;
                overflow-wrap: break-word;
                padding: 16px 20px;
                text-align: center !important;
            }
        }
    }
}