.newsletter {
    padding: 48px 0;
    background-color: #fe805d;


    h1 {
        font-size: 34.992px;
        font-weight: 500;
        line-height: 45.4833px;
        margin-bottom: 12px;
        margin-top: 0px;
        text-align: start !important;
        text-transform: uppercase;
        color: #fff;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        margin-bottom: 12px;
        margin-top: 0px;
        text-align: start !important;
        text-transform: capitalize;
        color: #fff;
    }

    .inputGroup {
        display: flex !important;
        border-radius: 8px;
        background-color: #fff;
        padding: 4px;

        .inputGroupAppend {
            display: flex;
            margin-left: 0;
            width: 100%;

            input {
                position: relative;
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                min-width: 0;
                width: auto;
                padding: 8px;
                min-height: 50px;
                padding: 9px 16px;
                font-size: 16px;
                display: block;
                font-weight: 400;
                line-height: 1.64;
                background-color: #fff;
                background-clip: padding-box;
                appearance: none;
                border: 0;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }


            button {
                border-color: transparent;
                position: relative;
                z-index: 2;
                width: auto !important;
                border-radius: 8px;
                min-width: 200px;
                border: 0;
                text-align: center !important;
                padding: 9px 16px;
                color: #fff;
                background-color: var(--main-color-dark);
            }
        }
    }
}