.category {
    box-shadow: none;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
    display: block;
    position: relative;
    width: 100%;
    padding: 24px !important;
    text-align: center !important;
    border: 1px solid transparent ;
    
    &:hover {
        box-shadow: 0 .5rem 1.5rem rgba(140,152,164,.15) ;
        transform: translate3d(0,-3px,0);
        border: 1px solid var(--border-color);
    }

    .iconContainer {
        color: var(--text-color) !important;
        position: relative;
        text-align: center !important;

        .icon {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center !important;

            i {
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                font-size: 46px;

            }
        }
        svg {
            margin: 0 auto;
            opacity: 0.2;
        }
    }

    .cardFooter {
        position: relative;
        min-height: 1px;
        padding-top: 32px !important;

        h5 {
            text-align: center !important;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin-bottom: 0 !important;
            line-height: 1.5;
            font-size: 18px;
            font-weight: 500;
            color: var(--main-color-dark)
        }

        p {
            text-align: center !important;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin-bottom: 0 !important;
            color: var(--text-color);

        }
    }
}