@import "../../../styles/mixins.scss";

.card {
    position: relative;
    width: 100%;
    transition: all .3s ease;
    padding: 8px;
    border: 1px solid var(--border-color) !important;
    box-shadow: 0 8px 12px rgba(140, 152, 164, .1) !important;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bg-alt-color);
    background-clip: border-box;
    border-radius: 4px;
    word-wrap: break-word;


    .cardImgContainer {
        overflow: hidden !important;
        border-radius: inherit;
        position: relative !important;

        .badgeTop {
            transform: translateY(-25px) translateZ(0);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
            right: 0 !important;
            top: 0 !important;
            position: absolute;
            z-index: 100;
            margin: 16px 16px 0 0 !important;

            .btn {
                border-color: transparent !important;
                opacity: .7;
                height: 36px !important;
                width: 36px !important;
                transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
                font-size: 14px;
                border-radius: 50% !important;
                color: #fff;
                padding: 8px !important;
                margin-right: 4px !important;
                align-items: center !important;
                justify-content: center !important;
                display: inline-flex !important;
                background-color: var(--main-color-dark);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(22, 28, 45, .075);
                font-weight: 500;
                line-height: 1.64;
                text-align: center !important;
                vertical-align: middle;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 1rem 2.5rem rgba(140, 152, 164, .1), 0 .5rem 1rem -.75rem rgba(140, 152, 164, .1) !important;
                    transform: translate3d(0, -3px, 0);
                }
            }
        }

        .cardImg {
            transition: all .3s ease;
            transform-origin: center center;
            position: relative;
            overflow: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-bottom: calc(.62 * 100%);
            min-height: 1px;
            display: block !important;
            border-bottom-right-radius: calc(4px - 0px);
            border-bottom-left-radius: calc(4px - 0px);
            border-top-left-radius: calc(4px - 0px);
            border-top-right-radius: calc(4px - 0px);
            width: 100%;

            img {
                height: auto;
                position: absolute;
                top: calc(50% + 1px);
                left: calc(50% + 1px);
                transform: scale(1.01) translate(-50%, -50%);
                display: block;
                width: 100%;
                max-height: none;
                max-width: none;
                transition: filter .3s, -webkit-filter .3s;
                box-shadow: 0 1.5rem 4rem rgba(140, 152, 164, .05) !important;
                border-radius: 4px !important;
            }
        }

        .badgeBottom {
            transform: translateY(25px) translateZ(0);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
            left: 0 !important;
            bottom: 0 !important;
            position: absolute;
            z-index: 100;
            padding: 8px 12px;
            border-radius: 160px;
            background-color: var(--main-color-light);
            margin-bottom: 16px !important;
            margin-left: 16px !important;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
        }
    }

    .cardFooter {
        padding: 16px 8px 8px;
        margin-bottom: 4px;
        position: relative;

        .avatar {
            width: 66px;
            height: 66px;
            font-size: 22px;
            display: inline-block;
            top: 0 !important;
            right: 0 !important;
            z-index: 100;
            border-radius: 50% !important;
            margin-top: -32px !important;
            margin-right: 22px !important;
            border: 3px solid #fff !important;
            position: absolute !important;
            box-shadow: 0 8px 16px rgba(140, 152, 164, .1) !important;
            overflow: hidden;
        }

        .cat {
            margin-bottom: 4px !important;
            display: inline-block !important;
        }

        .details {
            position: relative !important;

            h4 {
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                height: 58px !important;
                margin-bottom: 8px !important;
                line-height: 1.45;
                font-size: 20px;
                color: var(--text-dark);
                font-weight: 400;

                @include sm {
                    font-size: 16px;
                }
            }

            .ratingContainer {
                display: flex !important;
                -webkit-box-align: end !important;
                align-items: flex-start !important;
                margin-bottom: -4px !important;
                flex-wrap: wrap !important;

                @include sm {
                    display: block !important;
                }

                .rating {
                    margin-right: 12px !important;
                    font-size: 20px;
                }

                .reviews {
                    span {
                        font-size: 14px;
                    }

                    @include sm {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }

            .nav {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin-top: 0;

                .navItem {
                    padding-right: 12px !important;
                    -webkit-box-align: center !important;
                    align-items: center !important;
                    display: flex !important;

                    .icon {
                        margin-right: 8px !important;
                    }

                    .text {
                        font-size: 14px;

                        @include sm {
                            font-size: 12px;
                        }
                    }
                }
            }

            del {
                font-size: 14px;
                display: block;
                margin-bottom: 5px !important;

                @include sm {
                    font-size: 12px;
                }
            }

            ins {
                line-height: 1.45;
                font-size: 20px;
                color: var(--text-dark);
                text-decoration: none;
                font-weight: 600;
                line-height: 1 !important;

                @include sm {
                    font-size: 16px;
                }
            }
        }
    }

    &:hover {
        .cardImgContainer {
            .badgeTop {
                transform: translateY(0) translateZ(0);
                opacity: 1;
                visibility: visible;
            }

            .cardImg {
                transform: scale(1.1);
            }

            .badgeBottom {
                transform: translateY(0) translateZ(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }

}