.categories {
    padding-bottom: 96px;
    padding-top: 96px;
    background-color: #2f2d51;
    background-image: url("../../../public/imgs/course/illustration-3.svg");
    background-size: cover;
    background-position: center;

    .header {

        margin-bottom: 40px;

        h1 {
            font-size: 34.992px;
            font-weight: 500;
            line-height: 45.4833px;
            margin-bottom: 4px;
            margin-top: 0px;
            text-align: center !important;
            color: #fff;
        }
        
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            margin-bottom: 0px;
            margin-top: 0px;
            pointer-events: auto;
            text-align: center !important;
            text-transform: capitalize;
        }

        a {
            color: var(--main-color-dark);

            svg {
                display: inline;
                margin: 0 4px;
            }
        }
    }

    :global(.swiper-slide) {
        padding: 30px 0;
    }
}