@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import '../../../styles/mixins.scss';
.courses {
    padding-bottom: 128px;
    padding-top: 96px;
    background-color: #090761;
    @include lg {
        padding-right: 64px;
        padding-left:  64px;
    }
    @include xs {
        padding-right: 0;
        padding-left:  0;
    }

    .parallaxCursor {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;

        div {
            height: 100%;
            position: absolute;

            img {
                object-fit: contain;
            }
        }
    }

    .header {
        margin-bottom: 24px;

        h1 {
            font-family: 'Tajawal', sans-serif;
            margin-bottom: 4px !important;
            line-height: 1.3;
            font-size: 35px;
            font-weight: 600;
            color: #fff;
            text-align: center !important;
        }
        
        p {
            font-family: Nunito,sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            margin-bottom: 16px;
            color: #fff;
            text-align: center !important;
        }

        .select {
            background-color: var(--bg-alt-color);

            label {
                color: var(--main-color-dark);
            }

            &:hover {
                fieldset {
                    border-color: var(--main-color-dark);
                }
            }

            :global(.MuiInputBase-root) {
                color: var(--main-color-dark);

            }
        }
    }

    :global(.swiper) {
        padding-bottom: 60px;

        :global(.swiper-pagination) {
            bottom: -5px;
            text-align: center !important;
            
            :global(.swiper-pagination-bullet) {
                background-color: #fff;

            }
            :global(.swiper-pagination-bullet-active) {
                width: 20px;
                background-color: #fff;
                border-radius: 20px;
            }
        }
    }
}