.video {
    display: flex;
    z-index: 10;
    position: relative;
    height: 100% !important;
    place-items: center;
    background-image: url(../../../public/imgs/covers/cover-10.jpg);
    background-position: center bottom;
    width: 50vw;
    min-height: 100% !important;
    a {
        margin: 0 auto;
        display: block;
        text-align: center !important;
        cursor: pointer;

        .btn {
            margin: 0 auto;
            height: 90px;
            width: 90px;
            transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 .5rem .937rem rgba(140, 152, 164, .1) !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            box-shadow: 0 .5rem .937rem rgba(140, 152, 164, .1) !important;

            svg {
                width: 30px;
                height: 30px;
                color: var(--main-color-dark);
            }
        }
    }
    
}