@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "../../../styles/mixins.scss";
.infoBox {
    padding-bottom: 96px;
    padding-top: 96px;
    text-align: center;
    background-color: #fff;
    @include md {
        padding-right: 64px;
        padding-left: 64px;
    }
    @include xs {
        padding-right: 16px;
        padding-left: 16px;
    }
    .header {
        margin-bottom: 48px;

        h1 {
            font-family: 'Tajawal', sans-serif;
            font-size: 34.992px;
            font-weight: 700;
            line-height: 45.4833px;
            margin-bottom: 14.4px;
            margin-top: 0px;
            text-align: center !important;
            text-transform: capitalize;
            color: var(--main-color-dark);
        }

        p {
            font-family: Nunito, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            margin-bottom: 0px;
            margin-top: 0px;
            text-align: center !important;
            text-transform: capitalize;
        }
    }

    .card {
        color: #fff;
        border-radius: 16px;
        width: 100%;
        transition: all .3s ease;
        text-align: center !important;
        padding: 8px;
        position: relative;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 0 solid #e7e7ec;
        background-size: cover;

        &:hover {
            &::before {

                opacity: .8;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: " ";
            border-radius: inherit;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            background-color: inherit;

        }

        .content {
            background-image: repeating-linear-gradient(to right, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 50%, transparent 50%, transparent 100%);
            background-position: left top, left bottom, left top, right top;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 20px 2px, 20px 2px, 2px 20px, 2px 20px;
            border-radius: 12px;
            padding: 8px 0;
            position: relative;

            .iconContainer {
                color: rgba(255, 255, 255, .2) !important;
                position: relative;

                .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    margin-top: 12px;

                    svg {
                        margin: 0 auto;
                    }
                }

                svg {
                    margin: 0 auto;
                }
            }

            .footer {
                position: relative;
                padding-top: 16px;

                h5 {
                    font-family: 'Tajawal', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 27px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    overflow-wrap: break-word;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    text-align: center !important;
                    text-overflow: ellipsis;
                    -moz-box-orient: vertical;
                    -webkit-line-clamp: 1;
                }
            }
        }
    }
}