@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "../../../styles/mixins.scss";

.why {
    padding-bottom: 128px;
    padding-top: 128px;
    background-color: #e0eeff;
    @include md {
        padding-right: 64px;
        padding-left: 64px;
    }
    @include sm {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    @include xs {
        padding-right: 16px;
        padding-left: 16px;
    }

    img {
        border-radius: 4px;
    @include md {
        width: auto;
    }
    }

    h1 {
        font-family: 'Tajawal', sans-serif;
        font-size: 34.992px;
        font-weight: 700;
        line-height: 45.4833px;
        margin-bottom: 16px;
        margin-top: 0px;
        text-align: start !important;
        color: #2f2d51;
    }

    p {
        font-family: 'Tajawal', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 24px;
        margin-top: 0px;
        text-align: start !important;
    }


    a {
        font-family: 'Tajawal', sans-serif;
        background-color: #feb800;
        border-radius: 16px;
        box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset, rgba(22, 28, 45, 0.075) 0px 1px 1px 0px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 26.2333px;
        min-width: 100px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 16px;
        text-align: center !important;
        display: inline-flex;
        i {
            margin: 0 5px;
        }

    }
    &.ar {
        a {
            i {
                transform: rotate(-180deg);
            }
        }
    }
}